/.FisFileGenerator.java._trace
/.FisFileGenerator.xtendbin
/.TransformationMain.java._trace
/.TransformationMain.xtendbin
/FisFileGenerator.java
/TransformationMain.java
/.FuzzySystemResultInterpreter.java._trace
